.wp-tripolis-servicestatus {
	float: left;
	width: 20%;
	background-color: #fdfdfd;
	border-radius: 4px;
	padding: 20px;
	margin-right: 10px;
}

.wp-tripolis-servicestatus h3 {
	margin-top: 0;
}

#rendered_shortcode {
	padding: 20px;
	font-size: 15px;
	margin: 10px 20px 10px 0;
	display: block;
}

#wptripolis-generator div {
	margin-bottom: 15px;
}

#wptripolis-generator label {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	padding-top: 4px;
}

#wptripolis-generator select {
	min-width: 250px;
}

.wptripolis.form .label.required:after {
	content: " *";
}

.fields--selected {
	background: lightgray;
}

.fields--selected tr {
	height: 40px;
	width: 100%;
}
label {
	display: inline-block;
	min-width: 120px;
}
select {
	min-width: 160px;
}

table {
	width: 100%;
	margin-top: 50px;
	border: 1px solid lightgray;
}

th {
	text-align: left;
	background: 
}

.ajax-loader {
	display: none;
	position: absolute;
	padding: 5px;
	height: 18px;
}

.sortable-js tr td:first-child,
.sortable-js tr td:nth-last-child(-n+2) {
	width: 74px;
}

.sortable-js tr:only-child .handle-js {
	display: none;
}

[data-tripolis="unsubscribe-action"] {
	display: none;
}


/*
 * List view,
 * I know, nothing is that important...
 */

.wptripolis_shortcode input {
	background: transparent;
	border: 0 !important;
	box-shadow: none !important;
}

.wptripolis_shortcode input:focus {
	border: 1px solid #5b9dd9 !important;
}