.wptripolis.form .alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.wptripolis.form .alert .close {
	display: none;
}

.wptripolis.form .alert-success,
.wptripolis.form .alert-updated
{
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}


.wptripolis.form ul {
	list-style: none;
	margin-left: 0;
}
.wptripolis.form .checkbox-label {
	margin-left: 10px;
}

.wptripolis.form .form-control {
	display: block;
}

.wptripolis.form .label {
	display: inline-block;
	width: 100px;
}

.wptripolis.form .label.required:after {
	content: " *";
}

.load {
	border: 2px solid green;
}